h1 {
  color: orange;
}

h2 {
  border-bottom: solid lightgray;
}

img {
  width: 100px;
  display: inline;


}

.item{
  text-align:center;
  display:block;
  float: left;
  margin-right: 30px;
  margin-left: 100px;

}

.kool{
  margin-left: 100px;
}
