h1{
  color: white;
  background: URL(https://i.kym-cdn.com/entries/icons/mobile/000/024/221/upload.jpg) center no-repeat;
  padding: 50px 200px 50px 50px;
  width: 50%;

}

input, textarea {
  display: block;
  flex: 7;
  font-family: sans-serif;
  padding: 5px;
}

.label{

}
