h1{
  color: white;
  background: URL(https://i.kym-cdn.com/entries/icons/mobile/000/024/221/upload.jpg) center no-repeat;
  padding: 50px 200px 50px 50px;
  width: 50%;

}




.date{
  display: inline;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

label, input{
  display: inline-block;
  padding: 10px;
  margin:10px;
  width: 100%;
}
