nav li{
  display: block;
  list-style-type: none;

}

nav{
  margin-left: 75px;
  float:left;
  border: solid black;
height: 60em;
  margin-bottom: 100px;
}

main{
  text-align: left;

  border: none;
  margin-left: 205px;
  padding-left: 205px;
}

li{
  padding: 10px 50px;
}
